<ion-view view-title="Questionnaire">
  <ion-content>
    <h1>Questionnaire</h1>
    <ion-list>
      <ion-item ng-repeat="question in questions">
      <label class="item item-input item-stacked-label">
        <span class="input-label">{{question.question}}</span>
        <input type="text" placeholder="Type your answer here.">
      </label>
      </ion-item>
    </ion-list>
    <button class="button button-block button-balanced">
      Submit Answers
    </button>
  </ion-content>
</ion-view>
